@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

:root {
    --barlowFont: 'Barlow', sans-serif;
    --frauncesFont: 'Fraunces', serif;

    /* Colors */
    /* Primary */
    --softRed: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    --darkDesaturatedCyan: hsl(167, 40%, 24%);
    --darkBlue: hsl(198, 62%, 26%);
    --darkModerateCyan: hsl(168, 34%, 41%);

    /* Neutral */
    --veryDarkDesaturatedBlue: hsl(211, 26%, 19%);
    --veryDarkGrayishBlue: hsl(213, 9%, 39%);
    --darkGrayishBlue: hsl(233, 10%, 55%);
    --grayishBlue: hsl(210, 4%, 67%);
    --white: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #FFFCF8;
    font-family: var(--barlowFont);
    font-weight: 600;
    font-size: 1rem;
    overflow-x: hidden;
}

h1, h2, h3, h4 {
    font-family: var(--frauncesFont);
    font-weight: 900;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    width: calc(100% - 3rem);
    max-width: 1110px;
    margin: 0 auto;
}

@media (min-width: 1200px) {
    .container-xl {
        width: calc(100% - 3rem);
        max-width: 1110px;
        margin: 0 auto;
    }
}

.header {
    background-image: url(../img/mobile/image-header.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

@media (min-width: 1200px) {
    .header {
        background-image: url(../img/desktop/image-header.jpg);
    }
}

.navbar {
    width: calc(100% - 3rem);
    max-width: 1352px;
    margin: 0 auto;
    padding-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (min-width: 1200px) {
    .navbar {
        padding-top: 2.125rem;
    }
}

@media (min-width: 1200px) {
    .navbar__logo {
        width: 170px;
        display: inline-block;
    }

    .navbar__logo-img {
        width: 100%;
    }
}

.navbar__toggler {
    background: transparent;
    border: 0;
    cursor: pointer;
    transition: opacity .3s ease-in-out;
}

.navbar__toggler--active {
    opacity: 50%;
}

@media (min-width: 1200px) {
    .navbar__toggler {
        display: none;
    }
}

.nav {
    position: absolute;
    top: 6.625rem;
    width: calc(100% - 3rem);
    margin: 0 auto;
    background-color: #FFFCF8;
    z-index: 2;
    text-align: center;
    padding: 2.438rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    transform: translateY(-150%);
    transition: transform .3s ease-in-out;
}

.nav--active {
    transform: translateY(0);
}

.nav::before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-right: 12px solid #FFFCF8;
    border-top: 12px solid transparent;
    border-left: 12px solid transparent;
    border-bottom: 12px solid #FFFCF8;
    position: absolute;
    right: 0;
    top: -24px;
}

@media (min-width: 1200px) {
    .nav {
        width: auto;
        margin: 0;
        padding: 0;
        position: static;
        background-color: transparent;
        display: block;
        display: flex;
        flex-direction: row;
        gap: 2.938rem;
        z-index: unset;
        transform: translateY(0);
    }

    .nav::before {
        display: none;
    }
}

.nav__link {
    color: #808397;
    font-size: 1.125rem;
    line-height: 25px;
    letter-spacing: -0.14px;
    display: inline-block;
}

@media (min-width: 1200px) {
    .nav__link {
        color: #fff;
        letter-spacing: -0.13px;
    }
}

.nav__link--contact {
    background-color: var(--yellow);
    font-family: var(--frauncesFont);
    font-weight: 700;
    font-size: 0.938rem;
    text-transform: uppercase;
    color: #24303E;
    padding: 1rem 1.938rem 0.938rem 2rem;
    border-radius: 28px;
    transition: background-color .3s ease-in-out, color .3s ease-in-out;
}

.nav__link--contact:hover {
    background-color: rgb(250, 212, 0, 80%);
}


@media (min-width: 1200px) {
    .nav__link--contact {
        background-color: #fff;
    }

    .nav__link--contact:hover {
        background-color: rgba(255, 255, 255, 25.37%);
        color: #fff;
    }
}

.hero {
    padding: 5.5rem 0 18.5rem;
    text-align: center;
}

@media (min-width: 1200px) {
    .hero {
        padding: 6.563rem 0 33.5rem;
    }
}

.hero__title {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--white);
    letter-spacing: 6.25px;
    line-height: 49px;
    position: relative;
}

@media (min-width: 1200px) {
    .hero__title {
        font-size: 3.5rem;
        letter-spacing: 8.75px;
        line-height: 69px;
    }
}

.hero__title::after {
    content: "";
    display: block;
    background-image: url(../img/icon-arrow-down.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 3.25rem;
    width: 36px;
    height: 114px;
} 

@media (min-width: 1200px) {
    .hero__title::after {
        margin-top: 6.034rem;
    }
}

@media (min-width: 1200px) {
    .section__mobile-bg {
        display: none;
    }
}

@media (min-width: 1200px) {
    .section {
        padding: 9.875rem 0 9.813rem;
    }
}

@media (min-width: 1200px) {
    .section--one {
        background-image: url(../img/desktop/image-transform.jpg);
        background-repeat: no-repeat;
        background-position: center right;
        background-size: 50% 100%;
    }
}

@media (min-width: 1200px) {
    .section--two {
        background-image: url(../img/desktop/image-stand-out.jpg);
        background-repeat: no-repeat;
        background-position: center left;
        background-size: 50% 100%;
    }
}

@media (min-width: 1200px) {
    .section--three {
        padding: 0;
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}

@media (min-width: 1200px) {
    .section__container {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}

.section__info {
    width: calc(100% - 3rem);
    margin: 0 auto;
    padding: 4rem 0;
    text-align: center;
}

@media (min-width: 1200px) {
    .section__info {
        width: 100%;
        padding: 0;
        margin: 0;
        text-align: left;
        padding-right: 6.875rem;
    }

    .section__info--right {
        grid-column: 2 / 3;
        padding-right: 0;
        padding-left: 6.875rem;
    }
}

.section__title {
    font-size: 2rem;
    line-height: 39px;
    color: var(--veryDarkDesaturatedBlue);
}

@media (min-width: 1200px) {
    .section__title {
        font-size: 2.5rem;
        letter-spacing: -0.29px;
        line-height: 49px;
    }
}

.section__text {
    color: var(--darkGrayishBlue);
    font-size: 1.125rem;
    line-height: 30px;
    margin-top: 1.5rem;
    letter-spacing: -0.13px;
}

@media (min-width: 1200px) {
    .section__text {
        margin-top: 2rem;
    }
}

.section__link {
    display: inline-block;
    margin-top: 2rem;
    font-size: 0.938rem;
    line-height: 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: var(--frauncesFont);
    font-weight: 900;
    color: #24303E;
    position: relative;
    text-align: center;
}

@media (min-width: 1200px) {
    .section__link {
        margin-top: 2.5rem;
    }
}

.section__link::after {
    content: "";
    display: block;
    width: 137px;
    height: 10px;
    border-radius: 28px;
    background-color: transparent;
    opacity: 25%;
    margin-top: -10px;
    position: relative;
    z-index: -1;
    transition: opacity .3s ease-in-out;
}

.section__link:hover::after {
    opacity: 100%;
}

.section__link.section__link--yellow::after {
    background-color: var(--yellow);
}

.section__link.section__link--red::after {
    background-color: var(--softRed);
}

.graphic-design {
    background-image: url(../img/mobile/image-graphic-design.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

@media (min-width: 1200px) {
    .graphic-design {
        background-image: url(../img/desktop/image-graphic-design.jpg);
    }
}

.photography {
    background-image: url(../img/mobile/image-photography.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

@media (min-width: 1200px) {
    .photography {
        background-image: url(../img/desktop/image-photography.jpg);
    }
}

.graphic-design__info,
.photography__info {
    padding: 24.875rem 1.5rem 3.688rem;
    text-align: center;
}

@media (min-width: 1200px) {
    .graphic-design__info,
    .photography__info {
        padding: 24.875rem 0 3.688rem;
        width: 339px;
        margin: 0 auto;
    }
}

@media (min-width: 1500px) {
    .graphic-design__info,
    .photography__info {
        padding: 28.875rem 0 3.688rem;
        width: 339px;
        margin: 0 auto;
    }
}

.graphic-design__info {
    color: var(--darkDesaturatedCyan);
}

.photography__info {
    color: var(--darkBlue);
}

.graphic-design__title,
.photography__title {
    font-size: 1.75rem;
    line-height: 35px;
    letter-spacing: -0.2px;
}

.graphic-design__text,
.photography__text {
    margin-top: 1.688rem;
    font-size: 0.969rem;
    line-height: -0.11px;
    line-height: 27px;
}

.testimonials {
    padding: 4rem 0 5.375rem;
    text-align: center;
}

@media (min-width: 1200px) {
    .testimonials {
        padding: 10rem 0;
    }
}

.testimonials__title {
    font-size: 1rem;
    text-transform: uppercase;
    line-height: 20px;
    letter-spacing: 4px;
    color: var(--grayishBlue);
}

@media (min-width: 1200px) {
    .testimonials__title {
        font-size: 1.25rem;
        line-height: 25px;
        letter-spacing: 5px;
    }
}

.testimonials__grid {
    margin-top: 4rem;
    display: grid;
    gap: 4rem;
}

@media (min-width: 1200px) {
    .testimonials__grid {
        grid-template-columns: repeat(3,1fr);
        gap: 1.875rem;
        margin-top: 5.063rem;
    }
}

.testimonial__img-container {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}

.testimonial__img {
    object-fit: cover;
}

.testimonial__blockquote {
    margin-top: 2rem;
    color: var(--veryDarkGrayishBlue);
    font-size: 1.125rem;
    line-height: 32px;
    letter-spacing: -0.13px;
}

@media (min-width: 1200px) {
    .testimonial__blockquote {
        margin-top: 3.625rem;
    }
}

.testimonial__name {
    margin-top: 2rem;
    color: #24303E;
    font-size: 1.125rem;
    line-height: 22px;
    font-family: var(--frauncesFont);
    font-weight: 900;
}

@media (min-width: 1200px) {
    .testimonial__name {
        margin-top: 4.313rem;
    }
}

.testimonial__position {
    margin-top: 0.563rem;
    color: #A7AAAD;
    font-size: 0.875rem;
    line-height: 25px;
    letter-spacing: -0.1px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: -1px;
}

@media (min-width: 1200px) {
    .gallery {
        grid-template-columns: repeat(4,1fr);
    }
}

.gallery__img {
    object-fit: cover;
}

@media (min-width: 1200px) {
    .gallery__img--mobile {
        display: none;
    }
}

.gallery__img--desktop {
    display: none;
}

@media (min-width: 1200px) {
    .gallery__img--desktop {
        display: block;
    }
}

.footer {
    background-color: #91D4C6;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem 0 5rem;
    text-align: center;
}

@media (min-width: 1200px) {
    .footer {
        padding: 4.5rem 0;
    }
}

.footer__logo {
    width: 170px;
    margin: 0 auto;
}

.footer__logo-img {
    width: 100%;
}

.footer__nav {
    margin-top: 2.5rem;
    display: flex;
    align-items: center;
    gap: 3.625rem;
}

.footer__nav-link {
    font-size: 1.125rem;
    line-height: 25px;
    letter-spacing: -0.13px;
    color: var(--darkModerateCyan);
    transition: color .3s ease-in-out;
}

.footer__nav-link:hover {
    color: #fff;
}

.social-networks {
    margin-top: 5.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.75rem;
}

.social-networks__link {
    display: flex;
}

.social-networks__link:hover svg path {
    fill: #fff;
}


